	<div id="coming-soon">


	<span class='a'><span class='b'>Hello,</span><span class='c'><span class='a'><span class='b'>Bonjour,</span><span class='c'><span class='a'><span class='b'>Konnichiwa,</span><span class='c'><span class='a'><span class='b'>Guten tag,</span><span class='c'><span class='a'><span class='b'>Ciao,</span><span class='c'><span class='a'><span class='b'>Hola,</span><span class='c'><span class='a'><span class='b'>Shalom,</span><span class='c'><span class='a'><span class='b'>Namaste,</span><span class='c'><span class='a'><span class='b'>Marhaba,</span><span class='c'>Greetings,</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span> <span class='a'><span class='b'>world.</span><span class='c'><span class='a'><span class='b'>to you.</span><span class='c'><span class='a'><span class='b'>and welcome to my portfolio.</span><span class='c'><span class='a'><span class='b'>I'm glad</span><span class='c'><span class='a'><span class='b'>I'm</span><span class='c'>my name is Shai <span class='a'><span class='b'>and</span><span class='c'><span class='a'><span class='b'>and</span><span class='c'><span class='a'><span class='b'>and</span><span class='c'><span class='a'><span class='b'>and</span><span class='c'>and this is my story:</span></span> I hail from Seattle, WA.</span></span> I am currently a <span class='a'><span class='b'>University of San Francisco</span><span class='c'>USF Design and Comp Sci</span></span> <span class='a'><span class='b'>student.</span><span class='c'><span class='a'><span class='b'>student</span><span class='c'>student, aspiring engineer,</span></span> and technophile keen to communicating the needs and desires of my surrounding community through my work.</span></span></span></span> I like <span class='a'><span class='b'>to code.</span><span class='c'>to <span class='a'><span class='b'>code and</span><span class='c'>build <span class='a'><span class='b'>things</span><span class='c'><span class='a'><span class='b'>interactive</span><span class='c'><span class='a'><span class='b'>meaningful</span><span class='c'>products that lead to meaningful</span></span></span></span> <span class='a'><span class='b'>things</span><span class='c'><span class='a'><span class='b'>software</span><span class='c'><span class='a'><span class='b'>applications</span><span class='c'>experiences</span></span></span></span></span></span></span></span> and</span></span> meet people from around the world.</span></span></span></span> I'm</span></span> <span class='a'><span class='b'>happy</span><span class='c'>excited</span></span></span></span> <span class='a'><span class='b'>you found me</span><span class='c'><span class='a'><span class='b'>I found you</span><span class='c'>to share my work with you</span></span></span></span> here, at my portfolio.</span></span></span></span></span></span>

	</div>


	

	

    
  


    
