<div class="content" id="area">
		<section id="section-content" class="row">
			<div class="first-row">
				<header class="showcase-row">
					<div class="showcase-col" col="medium-3">
						<h2>resume </h2>
					</div>
				</header>
			</div>

			<!-- Console -->
			<div id="code">
				<div id="console">
					<div class="twocols fleft col1">
						<span class="input">&gt; Shai.Education<br/></span>

						<span class="answer">&nbsp;&nbsp;=&gt; <a href="https://www.usfca.edu/" target="_blank">University of San Francisco '16</a><br/>
							Bachelor of Arts, <a href="http://www.usfca.edu/artsci/artarcd/design/" target="_blank">Design</a> | <a href="http://www.usfca.edu/artsci/artarcd/art_history_art_management/" target="_blank">Art History</a><br> 
							Minor, <a href="http://www.usfca.edu/cs/" target="_blank">Computer Science</a><br/></span>

							<span class="answer">&nbsp;&nbsp;=&gt; <a href="http://www.sit.edu/" target="_blank">School for International Training</a><br>
								Spring Exchange Semester 2014<br>
								Computer Graphics<br>
								Dakar, Senegal<br></span>

								<span class="answer">&nbsp;&nbsp;=&gt; <a href="http://www.bu.edu/" target="_blank">Boston University</a><br>
									Summer Exchange Semester 2014<br>
									Interaction Design<br>
									Paris, France<br>

									<span class="answer">&nbsp;&nbsp;=&gt; <a href="http://www.temple.edu/" target="_blank">Temple University</a><br>
										Summer Exchange Semester 2015<br>
										Software Engineering<br>
										Tokyo, Japan<br><br></span>
									</div>


									<span class="input">&gt; Shai.Experience<br/></span>
									<span class="answer">&nbsp;&nbsp;=&gt; Latest Work Experience<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "Justa"<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Software Engineering Intern"<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; start Date: "June 2015"<br/>
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; end Date: "August 2015"<br/>
										<br/></span>
										<span class="answer">&nbsp;&nbsp;=&gt; previous Work Experience<br/>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "University of San Francisco"<br/>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Full-Stack Web Developer"<br/>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; start date: "February 2015"<br/>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; end date: "May 2015"<br/>
											<br/></span>
											<span class="answer">&nbsp;&nbsp;=&gt; previous Work Experience<br/>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; company: "Galerie RX"<br/>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; role: "Visual Design Intern"<br/>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; start date: "May 2014"<br/>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; end date: "August 2014"<br/>
												<br/></span>

<span class="input">&gt; Shai.skills<br/></span>
<span class="answer">&nbsp;&nbsp;=&gt; ["Java", "Ruby", "Rails", "MySQL", "Javascript", "Android", SasS", "Agile", "adobe creative suite", "git"]<br/><br/></span>

<span class="input">&gt; Shai.interests<br/></span>
<span class="answer">&nbsp;&nbsp;=&gt; ["Software Engineering", "Product Engineering", "Mobile Development", "AI", "data visualization"]<br/><br/></span>

<span class="input">&gt; Shai.resume<br/></span>
<span class="answer">&nbsp;&nbsp;=&gt; "<%= link_to "shai_wilson.pdf", "Resume.pdf" %><br/><br/></span>

<!-- end console -->

</div>
</div>
</section>
</div>
