<div class="resume">
<div class="container1">
		<div class="textarea4"> 
			<a href="#myresume#" target="_blank"><u>Download PDF</u></a>
			
			<br><br>
	
			<a href="https://www.usfca.edu/" target="_blank">University of San Francisco '16</a><br>
			Bachelor of Arts, <a href="http://www.usfca.edu/artsci/artarcd/design/" target="_blank">Design</a> | <a href="http://www.usfca.edu/artsci/artarcd/art_history_art_management/" target="_blank">Art History</a><br> 
			Minor, <a href="http://www.usfca.edu/cs/" target="_blank">Computer Science</a><br>
			Deans Honor Student &mdash; 2012-15<br><br>
			<a href="http://www.sit.edu/" target="_blank">School for International Training</a><br>
			Spring Exchange Semester 2014<br>
			Senegal National Identity and the Arts<br>
			Dakar, Senegal<br><br>
			<a href="http://www.bu.edu/" target="_blank">Boston University</a><br>
			Summer Exchange Semester 2014<br>
			PROGRAM TITLE<br>
			Paris, France<br><br>
			<a href="http://www.temple.edu/" target="_blank">Temple University</a><br>
			Summer Exchange Semester 2015<br>
			PROGRAM TITLE<br>
			Tokyo, Japan<br><br>
			
	
 		 </div>
 		</div>
 		<div class="container2">
		 <div class="textarea5">
		  		<br><br><div class="subcaps">Education</div><br><br><br><br><br><br><br><br>
		  		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		  		<div class="subcaps">Experience</div>
		  		
		  		
		 </div>
	</div>
</div>