<div id="content">
    <div id="descrip">
    <p class="statement"><i>Javascript
    <br>Website
    <br>Winter 2014</i></p>
    <p class="statement">This past summer I worked with the startup Justa. Justa is whole new method of recruiting that offers developers and engineers a platform to discover and join innovative start ups in Tokyo, Japan. Not only will it make finding the right role for candidates easier for company recruiters and coordinators, but it will also allow companies to find talented individuals in a much more meaningful, efficient manner. 
    </p>
    <p class="statement">

Justa's redesign came out of a need to develop a brand identity along with content that would help the company promote, connect, and share their service better. Key to this was the ability to establish trust across a broad Japanese audience. The way we decided to do that is by using the power of data to create trust between ourselves and new clients. This was my first project while at Justa. I was in charge of a design proposal, drafting content, design guidelines, and finally, implementing these changes in the web development phase. I applied everything I had learned about Justa and its ideas to create new content and a new brand identity that communicates Justa’s mission and goals. 

    </p>    <p class="statement">The following animation shows how one might navigate the site:
    </p> 
   </div>
    
 
    <img id=sinking src="images/gdnowweb/GDNiP.gif" width="100%">
    
        <div id="descrip">
    <p class="statement">Stills:
    </p> 
   </div>
    <img id=sinking src="images/gdnowweb/gdweb1.png" width="100%">
    <img id=sinking src="images/gdnowweb/gdweb2.png" width="100%">
    <img id=sinking src="images/gdnowweb/gdweb3.png" width="100%">
    <img id=sinking src="images/gdnowweb/gdweb4.png" width="100%">
    <img id=sinking src="images/gdnowweb/gdweb5.png" width="100%">
    <img id=sinking src="images/gdnowweb/gdweb6.png" width="100%">
    <img id=sinking src="images/gdnowweb/gdweb7.png" width="100%">
</div><!--close for content-->

    
<div id="arrows">   
    <a href="gdnow.html"> <img src="images/arrows/backarrow.svg" width="40px"> </a>
    <a href="index.html"> <img src="images/arrows/menu.svg" width="40px"> </a>
    <a href="rgb.html"> <img src="images/arrows/nextarrow.svg" width="40px"> </a>  
</div>

