<div id="content">
    <div id="descrip">
    <p class="statement"><i>On My Way!
    <br>Android App
    <br>Spring 2015</i></p>
    <p class="statement">On My Way! is an android app designed to keep you safe. You punch in your emergency contacts, set a timer estimating the time between your point of departure and arrival destination when you are somewhere dangerous, and On My Way will text you a little later to see if you’re okay. If you don’t respond, it sends your starting location, arrival destination, and last tracked location with a custom message that alerts your emergency contacts that something may be wrong.

    Developed by Shai Wilson and Jack Shi
    </p>
   </div>
    
        <div id="descrip">
    <p class="statement"> Stills coming soon!: see the code on github <a href="https://github.com/shaiwilson/On-My-Way-">here</a>
    </p> 
   </div>
    
</div><!--close for content-->

    
 <!--   
<div id="arrows">   
    <a href="/work/javascript"> <%=image_tag("arrow.png", alt: "back button", :class => "arrow_image")%> </a>
    <a href="/work"> <%=image_tag("thumbnail.png", alt: "work_samples button", :class => "arrow_image")%> </a>
    <a href="/work/PPIE"> <%=image_tag("forward.png", alt: "forward button", :class => "arrow_image")%> </a>
</div>
-->
