<div id="content">
    <div id="descrip">
    <p class="statement"><i>On My Way!
    <br>Android App
    <br>Spring 2015</i></p>
    <p class="statement">On My Way! is an android app designed to keep you safe. You punch in your emergency contacts, set a timer estimating the time between your point of departure and arrival destination when you are somewhere dangerous, and On My Way will text you a little later to see if you’re okay. If you don’t respond, it sends your starting location, arrival destination, and last tracked location with a custom message that alerts your emergency contacts that something may be wrong.

    Developed by Shai Wilson and Jack Shi
    </p>
    <p class="statement">

Justa's redesign came out of a need to develop a brand identity along with content that would help the company promote, connect, and share their service better. Key to this was the ability to establish trust across a broad Japanese audience. The way we decided to do that is by using the power of data to create trust between ourselves and new clients. This was my first project while at Justa. I was in charge of a design proposal, drafting content, design guidelines, and finally, implementing these changes in the web development phase. I applied everything I had learned about Justa and its ideas to create new content and a new brand identity that communicates Justa’s mission and goals. 

    </p>    <p class="statement">The following animation shows how one might navigate the site:
    </p> 
   </div>
    
 
    <img id=sinking src="images/gdnowweb/GDNiP.gif" width="100%">
    
        <div id="descrip">
    <p class="statement">Stills:
    </p> 
   </div>
    
</div><!--close for content-->

    
<div id="arrows">   
    <a href="/work/javascript"> <%=image_tag("arrow.png", alt: "back button", :class => "arrow_image")%> </a>
    <a href="/work"> <%=image_tag("thumbnail.png", alt: "work_samples button", :class => "arrow_image")%> </a>
    <a href="/work/PPIE"> <%=image_tag("forward.png", alt: "forward button", :class => "arrow_image")%> </a>
</div>
