/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/inconsolata-regular-webfont.eot');
    src: url('fonts/inconsolata-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/inconsolata-regular-webfont.woff') format('woff'),
         url('fonts/inconsolata-regular-webfont.ttf') format('truetype'),
         url('fonts/inconsolata-regular-webfont.svg#inconsolataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('fonts/inconsolata-bold-webfont.eot');
    src: url('fonts/inconsolata-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/inconsolata-bold-webfont.woff') format('woff'),
         url('fonts/inconsolata-bold-webfont.ttf') format('truetype'),
         url('fonts/inconsolata-bold-webfont.svg#inconsolatabold') format('svg');
    font-weight: bold;
    font-style: normal;
}
