/* 
CSS BY SHAI WILSON 2015
SJWILSON2@USFCA.EDU
--------------------------------------
CONTACT AT SJWILSON2@USFCA.EDU
*/


/*_________*_*_*_*_*_*_*_*_*_____MIXINS, VARIABLES, ETC__*_*_*_*_*_*/

/* Colors are based on Flat UI kit by Designmodo */

$midnight-blue: #34495E;
$peter-river: #3498DB;
$alizarin: #E74C3C;
$neon-blue: #00FFC1;
$turquoise: #1ABC9C;
$amethyst: #9B59B6;
$pumpkin: #D35400;
$silver: #BDC3C7;


/*_________*_*_*_*_*_*_*_*_*_____RESUME SPECS_*_*_*_*_*_*/

#code {
  border-radius: 10px; 
  width:750px;
  margin: 0 auto;
  padding-top:15px;
  /*background: $silver; */
  text-align: left;
}

#console {
  width:750px;
  padding: 40px;
  margin:0 auto;
  background: $midnight-blue;
  a:link, a:visited, a:active {
  color: #ffffff ;
  background-color: $amethyst;
  padding: 5px 6px 5px;

  & a:hover {
  background-color: $midnight-blue;

  }
	}
}

span.answer {
  color:$neon-blue;
}

span.input {
	color: $peter-river;
}


