/* 
CSS BY SHAI WILSON 2015
SJWILSON2@USFCA.EDU
--------------------------------------
CONTACT AT SJWILSON2@USFCA.EDU
*/

#work {
	width: 100%;
	position: absolute;
	right: -webkit-calc(50% - 200px);
	right: calc(50% - 200px);
	top: 45%;
	text-align: center;
	border: 3px solid #fff;
	width: 400px;
	padding: 32px;
}
